* {
    overflow: hidden;
    padding: 0;
    
    box-sizing: border-box;
}

body {
    display:flex;
    justify-content: center;
}

.main {
    width:  min(450px, 50vw);
    height: 70vh;
    border: 3px solid black;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.screen {
    height: 10vh;
    width:  min(420px, 50vw);
    border: 3px solid black;
}

.btn-group {
    height: 10vh;
    border: 3px solid black;

}

.btn-row {
    display:flex;
    justify-content: center;
    gap: 2px;
    padding: 3px;
    height: 100%;
   
}

.buttonStyle {
    border: 3px solid black;
    flex:1;
    aspect-ratio: 1;
}